.frame3 {
    align-items: center;
    background: linear-gradient(180deg, rgb(47, 128, 237) 0%, rgb(119, 85, 255) 100%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 12px 20px;
    position: relative;
  }
  
  .frame2 {
    align-items: center;
    border: 1px solid;
    border-color: #1f1f1f33;
    border-radius: 100px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 12px 20px;
    position: relative;
  }
  .frame1 {
    align-items: center;
    border: 1px solid;
    border-color: #1f1f1f33;
    border-radius: 100px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 12px 20px;
    position: relative;
  }

  .frame3 .don-t-know-where-to {
    color: #ffffff;
    font-family: "GT Walsheim Pro-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  

.frame2 .text-wrapper {
    color: #1f1f1f;
    font-family: "GT Walsheim Pro-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  .frame1 .text-wrapper {
    color: #1f1f1f;
    font-family: "GT Walsheim Pro-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }